body{
    font-weight: 400;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 2.2em;
    color: #818181;
}

header{
    background-color: orangered;
}  

section, footer{
    margin: 40px;
}

h1{
    font-size: 63px;
    color: #303030;
    padding: 25px;
    color: white;
    text-align: center;
}

h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
}

nav li a{
    padding: 20px;
    color: white;
    text-decoration: none;
}

nav li{
    float: left;
}

nav ul{
    float: right;
    list-style: none;
}

nav{
    font-size: 15px;
    letter-spacing: 4px;
    height: 10px;
    background-color: #570303;
    padding-right: 40px;
}

table{
    width: 100%;
}
table td{
    color: #303030;
}

table tr:nth-child(odd){
    background-color: #bdbdbdbd;
}

table thead th{
    background-color: #f1200e;
    color: white;
}

#pacotes .figuras figure{
    display: inline-block;
}

/*#pacotes .videos video{
    display: inline-block;
}

/*#pacotes .figuras .videos figure video{
    text-align: right;
}